<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include "views/public/css.html"?>
     <link rel="stylesheet" href="/views/assets/bootstrap-datepicker/css/bootstrap-datepicker3.css">
</head>
<body>
    
    <!-- 侧边栏 -->
    <?php include "views/public/aside.html"?>
    
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <?php include "views/public/header.html"?>
            
            <div class="body teacher" id="teacher-manage">
                <!-- 面包屑 -->
                <!-- 根据链接search部分利用不同模板进行动态创建 -->
            </div>
        </div>
    </div>
    <script type="text/template" id="editor-info-tpl">
        <ol class="breadcrumb">
                    <li><a href="/teacher/list">讲师管理</a></li>
                    <li class="active">{{title}}</li>
                </ol>
                <div class="teacher-add">
                    <form action="{{url}}" class="form-horizontal col-xs-offset-2" id="teacher-info">
                        <input type="hidden" name="tc_id" value="{{teacher.tc_id}}">
                        <div class="form-group">
                            <label for="" class="col-xs-3 control-label">姓名</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control input-sm" name="tc_name" placeholder="{{teacher.tc_name}}"  data-required data-conditional="forbidden" data-description="username" data-describedby="msgforusername">
                            </div>
                            <label class="col-xs-3 control-label"
                            id="msgforusername" style="text-align: left;font-size: 7px;"></label>
                        </div>
                        {{if !teacher.tc_id}}
                        <div class="form-group">
                            <label for="" class="col-xs-3 control-label">密码</label>
                            <div class="col-xs-4">
                                <input type="password" class="form-control  input-sm" name="tc_pass"  data-required data-trim data-description="password" data-describedby="msgforpassword" data-pattern="^[0-9A-Za-z_]{6,15}$">
                            </div>
                            <label class="col-xs-3 control-label" id="msgforpassword" style="text-align: left;font-size: 7px;"></label>
                        </div>
                        {{/if}}
                        <div class="form-group">
                            <label for="" class="col-xs-3 control-label">入职时间</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control input-sm" name="tc_join_date" value="{{teacher.tc_join_date}}"  data-required data-description="tc_join_date" data-describedby="msgfortc_join_date">
                            </div>
                            <label class="col-xs-3 control-label" id="msgfortc_join_date" style="text-align: left;font-size: 7px;"></label>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-xs-3 control-label">类型</label>
                            <div class="col-xs-2">
                                <select name="tc_type" class="form-control input-sm">
                                    <option value="1" {{teacher.tc_type=="0"?"":'selected'}}>讲师</option>
                                    <option value="0" {{teacher.tc_type=="0"?'selected':""}}>管理员</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-xs-3 control-label">性别</label>
                            <div class="col-xs-4">
                                <label class="radio-inline">
                                    <input type="radio" name="tc_gender" value="0" {{teacher.tc_gender=="1"?"":'checked'}}> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="tc_gender" value="1" {{teacher.tc_gender=="1"?"checked":''}}> 女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-7">
                                <button class="btn btn-success btn-sm pull-right btn-addinfo">{{bt}}</button>
                            </div>                          
                        </div>
                    </form>
                </div>
    </script>
    <?php include "views/public/js.html"?>
    <script>
        require(["../static/js/teacher/manage"]);
    </script>
</body>
</html>