<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include "views/public/css.html"?>
    <link rel="stylesheet" href="/views/assets/Jcrop/css/Jcrop.min.css">
</head>
<body>
    
    <!-- 侧边栏 -->
    <?php include "views/public/aside.html"?>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <?php include "views/public/header.html"?>
            <div class="body course-add">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">课程管理</a></li>
                    <li class="active">课程添加</li>
                </ol>
                <div class="steps">
                    <!-- 摘要 -->
                    
                </div>
            </div>
        </div>
    </div>
    <script type="text/template" id="course_add_step2_tplone">
       <div class="brief">
                        <div class="thumb">
                           {{if !cs_cover}}
                            <img src="/views/static/images/course.png" alt="">
                            {{else}}
                            <img src="{{cs_cover}}">
                            {{/if}}
                        </div>

                        <dl class="info">
                             <dt>{{cs_name}}</dt>
                            <dd>{{tc_name}}</dd>
                            <!-- <dd>课时：32</dd> -->
                        </dl>
                    </div>
                    <!-- 步聚 -->
                    <ul class="forwards list-unstyled">
                        <li>
                            <a href="/course/course_add_step1?cs_id={{cs_id}} " >
                            <b class="fa fa-check done"></b>
                            基本信息
                            </a>
                        </li>
                        <li>
                            <a href="/course/course_add_step2?cs_id={{cs_id}}" class=" active">
                            <b>2</b>
                            课程图片
                            </a>
                        </li>
                        <li>
                            <a href="/course/course_add_step3?cs_id={{cs_id}}">
                            <b>3</b>
                            课时管理
                            </a>
                        </li>
                    </ul>
                    <!-- 课程图片 -->
                    <div class="content">
                        <!-- 标题 -->
                        <div class="title">
                            <h5>课程图片 <small>COURSE PICTURE</small></h5>
                        </div>
                        <!-- 上传图片 -->
                        <div class="picture col-xs-offset-2">
                            <div class="preview">
                               {{if cs_cover_original}}
                            <img src="{{cs_cover_original}}" alt="">
                        {{else}}
                            <img src="/views/static/uploads/course.png" alt="">                        
                        {{/if}}
                            </div>
                             <form>
                            <input type="hidden" name="x">
                            <input type="hidden" name="y">
                            <input type="hidden" name="w">
                            <input type="hidden" name="h">
                        </form>
                            <p class="tips">
                                可上传jpg, gif, png格式文件, 图片建议尺寸大于300x150，文件大小不能超过2M。
                            </p>
                            <div class="col-xs-2">
                                <input type="file" class="btn btn-success btn-sm" id="upload-btn"></input>
                            </div>
                            <div class="col-xs-2">
                                <button  class="btn btn-warning btn-sm" disabled data-type='crop' id="crop-btn">裁切图片</button> 
                            </div>
                        </div>
                    </div> 
    </script>
    <?php include "views/public/js.html"?>
    <script>
       require(["../static/js/course/course_add_step2"]); 
    </script>
</body>
</html>